
html, body {
    font-family: "Lucida Grande", Corbel, "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

header {
    background: #000000;
    font-size: 14px;
    /*
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    */
    /*
    padding:10px 30px 10px 30px;
    */
    padding:10px 30px; /*shorthand*/
}
header a {
    color: #FFFFFF;
    text-decoration: none;
}

nav {
    float: left;
}
nav ul li {
    float: left;
    /*
    margin-right: 10px;
    */
    margin:0 10px 0 0;  /*shorthand*/
}

ul.rightlinks {
    float: right;
}

ul.rightlinks li {
    float: left;
    margin-left: 10px;
}

.nudgedown {
    position:relative;
    top:11px;
}

main {
    float:left;
    background:#FF6962;
    width:700px;
}
#sidebar1 {
    float:left;
    background:#FFC72C;
    width:300px;
}

#mainarea {
    width:1000px;
    margin:0 auto;  /*shorthand*/
    background:red;
}