
header {
    background: #000000;
}

header a {
    color: #FFFFFF;
}

nav {
    float: left;
}

nav li {
    float: left;
}

ul.rightlinks {
    float: right;
}

ul.rightlinks li {
    float: left;
}